@{
    ViewData["Title"] = "Inicio";
    
}
<div class="container">
    <h1 class="text-center mt-4">Bienvenido al Sistema de Facturación</h1>
    <p class="text-center">Gestione sus clientes, servicios y facturas desde este panel de control.</p>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Gestione sus clientes registrados.</p>
                    <a href="/Clients" class="btn btn-primary">Ver Clientes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Servicios</h5>
                    <p class="card-text">Administre los servicios disponibles.</p>
                    <a href="/Services" class="btn btn-success">Ver Servicios</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Facturas</h5>
                    <p class="card-text">Consulte y registre facturas emitidas.</p>
                    <a href="/Invoices" class="btn btn-warning">Ver Facturas</a>
                </div>
            </div>
        </div>
    </div>
</div>
